<section ng-controller="ProfesionalesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Editar profesional</h1>
  </div>
  <div class="col-md-12">
    <form name="profesionalForm" class="form-horizontal" ng-submit="update(profesionalForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Nombre</label>
          <input name="name" type="text" ng-model="profesional.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="profesionalForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="surname">Apellidos</label>
          <input name="surname" type="text" ng-model="profesional.surname" id="surname" class="form-control" placeholder="Apellidos" required>
          <div ng-messages="profesionalForm.surname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El apellido es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="phone">Teléfono</label>
          <input name="phone" type="phone" ng-model="profesional.phone" id="phone" class="form-control" placeholder="Teléfono" required>
          <div ng-messages="profesionalForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El teléfono es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input name="email" type="email" ng-model="profesional.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="profesionalForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El email es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="facebookUser">Usuario de facebook</label>
          <input name="facebookUser" type="text" ng-model="profesional.facebookUser" id="facebookUser" class="form-control" placeholder="Usuario de facebook">
        </div>
        <div class="form-group" show-errors>
          <label for="instagramUser">Usuario de instagram</label>
          <input name="instagramUser" type="text" ng-model="profesional.instagramUser" id="instagramUser" class="form-control" placeholder="Usuario de instagram">
        </div>
        <div class="form-group">
          <label for="comments">Comentarios</label>
          <textarea name="comments" ng-model="profesional.comments" id="comments" class="form-control" cols="30" rows="3" placeholder="Comentarios"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Actualizar" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
