<section ng-controller="ProspectsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Editar prospect</h1>
  </div>
  <div class="col-md-12">
    <form name="prospectForm" class="form-horizontal" ng-submit="update(prospectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Nombre</label>
          <input name="name" type="text" ng-model="prospect.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="prospectForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="surname">Apellidos</label>
          <input name="surname" type="text" ng-model="prospect.surname" id="surname" class="form-control" placeholder="Apellidos">
        </div>
        <div class="form-group" show-errors>
          <label for="phone">Teléfono</label>
          <input name="phone" type="phone" ng-model="prospect.phone" id="phone" class="form-control" placeholder="Teléfono">
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input name="email" type="email" ng-model="prospect.email" id="email" class="form-control" placeholder="Email" required>
          <div ng-messages="prospectForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El email es obligatorio.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="weddingDate">Fecha de la boda</label>
          <input name="weddingDate" type="date" ng-model="prospect.weddingDateDt" id="weddingDate" class="form-control" placeholder="Fecha de la boda" ng-change="prospect.weddingDate = prospect.weddingDateDt.toISOString()">
        </div>
        <div class="form-group" show-errors>
          <label for="weddingHour">Hora de la boda</label>
          <input name="weddingHour" type="text" ng-model="prospect.weddingHour" id="weddingHour" class="form-control" placeholder="Hora de la boda">
        </div>
        <div class="form-group" show-errors>
          <label for="weddingPlace">Lugar de la boda</label>
          <input name="weddingPlace" type="text" ng-model="prospect.weddingPlace" id="weddingPlace" class="form-control" placeholder="Lugar de la boda">
        </div>
        <div class="form-group">
          <label for="weddingComments">Comentarios de la boda</label>
          <textarea name="weddingComments" ng-model="prospect.weddingComments" id="weddingComments" class="form-control" cols="30" rows="3" placeholder="Comentarios de la boda"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Actualizar" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
