<section ng-controller="ProspectsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Prospects</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Buscar" ng-change="filter()" />
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Pendiente de enviar presupuesto</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate == null" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hoy</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate != null && prospect.daysFromBilling == 0" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace 1 día</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate != null && prospect.daysFromBilling == 1" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace 2 días</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate != null && prospect.daysFromBilling == 2" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace 3 días</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate != null && prospect.daysFromBilling == 3" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace más de 3 días</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride == null && !prospect.rejected && prospect.billingDate != null && prospect.daysFromBilling > 3" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Ya contratadas</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.bride != null" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Rechazadas</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.rejected" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="alert alert-warning text-center" ng-if="prospects.$resolved && !prospects.length">
    No hay datos aún, ¿<a ui-sref="prospects.create">Lo creamos</a>?
  </div>
</section>
