<section ng-controller="ProspectsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Prospects</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Buscar" ng-change="filter()" />
      </div>
    </div>
  </div>
  <div class="row">
    <h4>En curso</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.daysFromBilling < 7" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace 7 días o más</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.daysFromBilling >= 7 && prospect.daysFromBilling < 14" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
  <div class="row">
    <h4>Presupuesto enviado hace 14 días o más</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="prospect in prospects" ui-sref="prospects.view({prospectId: prospect._id})" class="list-group-item" ng-show="prospect.daysFromBilling >= 14" ng-include="'/modules/prospects/client/views/list.prospect.view.html'"></a>
  </div>
</section>
