<section ng-controller="ProspectsController" ng-init="findOne()">
  <div class="page-header">
    <h1><span ng-bind="prospect.name"></span> <span ng-bind="prospect.surname"></span></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="prospects.edit({prospectId: prospect._id})" ng-show="authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove()" ng-show="authentication.user.roles.indexOf('admin')!=-1">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a class="btn btn-primary" ng-click="convert(prospect)" ng-show="(authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1) && prospect.bride == null">
      <i class="glyphicon glyphicon-usd"></i>
    </a>
  </div>
  <div class="row" ng-if="prospect.bride">
    <div class="col-md-8">
      <div class="row">
        <h2>¡¡¡Ya ha contratado, <a ui-sref="novias.view({noviaId: prospect.bride})">esta es su información</a>!!!</h2>
      </div>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Teléfono</strong></div>
        <div class="col-md-6" ng-bind="prospect.phone"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="prospect.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Fecha de la boda</strong></div>
        <div class="col-md-6" ng-bind="prospect.weddingDate | date:'dd/MM/yyyy'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Hora de la boda</strong></div>
        <div class="col-md-6" ng-bind="prospect.weddingHour"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Lugar de la boda</strong></div>
        <div class="col-md-6" ng-bind="prospect.weddingPlace"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Comentarios de la boda</strong></div>
        <div class="col-md-6" ng-bind="prospect.weddingComments"></div>
      </div>
    </div>
  </div>
</section>
