<section ng-controller="NoviasController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Novias</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Buscar" ng-change="filter()" />
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="novias.$resolved && !novias.length">
    No se ha dado de alta ninguna novia aún, ¿<a ui-sref="novias.create">creamos una</a>?
  </div>
  <div class="row">
    <h4>¡¡¡Bodas en breve!!!</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="novia in novias" ui-sref="novias.view({noviaId: novia._id})" class="list-group-item" ng-show="novia.imminentWedding">
      <h4 class="list-group-item-heading">
        <span ng-bind="novia.name"></span> <span class="list-group-item-heading" ng-bind="novia.surname"></span>
      </h4>
      <p class="list-group-item-text" ng-if="novia.weddingDate != null">
        Se casa el día
        <span ng-bind="novia.weddingDate | date:'dd/MM/yyyy'"></span>
        en
        <span ng-bind="novia.weddingPlace"></span>
      </p>
      <p class="list-group-item-text" ng-if="novia.weddingDate == null">
        <i>Sin datos de fecha/lugar</i>
      </p>
    </a>
  </div>
  <div class="row">
    <h4>¡¡¡Pruebas en breve!!!</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="novia in novias" ui-sref="novias.view({noviaId: novia._id})" class="list-group-item" ng-show="!novia.imminentWedding && novia.imminentTest">
      <h4 class="list-group-item-heading">
        <span ng-bind="novia.name"></span> <span class="list-group-item-heading" ng-bind="novia.surname"></span>
      </h4>
      <p class="list-group-item-text">
        La prueba debe realizarse el día <span ng-bind="novia.testDate | date:'dd/MM/yyyy'"></span>
        en
        <span ng-bind="novia.testPlace"></span>. Se casa el día
        <span ng-bind="novia.weddingDate | date:'dd/MM/yyyy'"></span>
        en
        <span ng-bind="novia.weddingPlace"></span>
      </p>
    </a>
  </div>
  <div class="row">
    <h4>Resto</h4>
  </div>
  <div class="list-group">
    <a ng-repeat="novia in novias" ui-sref="novias.view({noviaId: novia._id})" class="list-group-item" ng-show="!novia.imminentWedding && !novia.imminentTest">
      <h4 class="list-group-item-heading">
        <span ng-bind="novia.name"></span> <span class="list-group-item-heading" ng-bind="novia.surname"></span>
      </h4>
      <p class="list-group-item-text" ng-if="novia.weddingDate != null">
        Se casa el día
        <span ng-bind="novia.weddingDate | date:'dd/MM/yyyy'"></span>
        en
        <span ng-bind="novia.weddingPlace"></span>
      </p>
      <p class="list-group-item-text" ng-if="novia.weddingDate == null">
        <i>Sin datos de fecha/lugar</i>
      </p>
    </a>
  </div>
</section>
