<section ng-controller="NoviasController" ng-init="findOne()">
  <div class="page-header">
    <h1><span>Emails de recordatorios</span></h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4>Direcciones</h4>
      <div class="row">
        <div class="col-md-3"><strong>Novia</strong></div>
        <div class="col-md-6" ng-bind="novia.email"></div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Profesional</strong></div>
        <div class="col-md-6" ng-bind="novia.selectedProfessional.email"></div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="col-md-8">
    <h4>Prueba {{novia.name}} - {{novia.testDate | date:"dd/MM/yyyy"}} - {{novia.testPlace}}</h4>
    <div class="row">
      <div class="col-md-9" style="font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif">
        <strong><u>{{novia.testHour}} PRUEBA DE {{novia.name}} {{novia.surname}}</u></strong>
        <br/><br/>
        TLF {{novia.name}} - {{novia.phone}}. <span ng-show="novia.otherPhone !== null">(Alternativo {{novia.otherPhone}})</span>
        <br/> <br/>
        <strong>CITACIÓN</strong>
        <br/><br/>
        {{novia.testDateText}}.
        <br/><br/>
        <strong>DIRECCIÓN</strong>
        <br/><br/>
        {{novia.testPlace}}
        <br/><br/>
        <strong>HORA</strong>
        <br/><br/>
        {{novia.testHour}}
        <br/><br/>
        <strong>SERVICIO</strong>
        <br/><br/>
        <span ng-repeat="service in novia.services">
          <span ng-show="service.quantity > 1">{{service.quantity}} </span>{{service.data.name}}<br/>
        </span>
        <br/>
        <strong>A PAGAR <span style="color: #DF013A">{{novia.testPrice}} €</span></strong>
        <br/><br/>
        <span style="color: #DF013A">**Abonar en efectivo al profesional al finalizar el servicio.**</span>
      </div>
    </div>
  </div>
  <div class="col-md-8" style="padding-top:40px">
    <h4>Boda de {{novia.name}} - {{novia.weddingDate | date:"dd/MM/yyyy"}} - {{novia.weddingPlace}}</h4>
    <div class="row">
      <div class="col-md-9" style="font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif">
        Buenos días {{novia.name}},
        <br/><br/>
        ¿Nerviosa? No te preocupes porque estás en las mejores manos. 
        <br/><br/>
        Ya lo tenemos todo organizado a la perfección, así que fuera nervios y a disfrutar tus últimos días de soltera!
        <br/><br/>
        No tengo ninguna duda que todo va a salir genial.
        <br/><br/>
        Te mando el recordatorio de citación para el gran día!!
        <br/><br/>
        <strong>Revisa todos los datos y confírmame que esté todo correcto.</strong>
        <br/><br/>
        <center>
        <strong><u>{{novia.weddingCitation}} BODA DE {{novia.name}} {{novia.surname}}</u></strong>
        <br/><br/>
        TLF {{novia.name}} - {{novia.phone}}. <span ng-show="novia.otherPhone !== null">(Alternativo {{novia.otherPhone}})</span>
        <br/> <br/>
        <strong>CITACIÓN</strong>
        <br/><br/>
        {{novia.weddingDateText}}.
        <br/><br/>
        <strong>DIRECCIÓN</strong>
        <br/><br/>
        {{novia.weddingPlace}}
        <br/><br/>
        <strong>HORA DE LLEGADA DEL ESTILISTA</strong>
        <br/><br/>
        {{novia.weddingCitation}}
        <br/><br/>
        <strong>SERVICIO</strong>
        <br/><br/>
        <span ng-repeat="service in novia.services">
          <span ng-show="service.quantity > 1">{{service.quantity}} </span>{{service.data.name}}<br/>
        </span>
        <br/>
        <strong>A pagar <span style="color: #DF013A">{{novia.weddingPrice}} €</span></strong>
        <br/><br/>
        <span style="color: #DF013A">**Abonar en efectivo al profesional al finalizar el servicio.**</span>
        </center>
        <br/><br/>
        Os deseamos un día cargado de amor, felicidad y grandes momentos!
        <br/><br/>
        No olvides mandarnos fotos! Que nos hace mucha ilusión verte radiante vestida de novia!
        <br/><br/>
        Cualquier cosita no dudes en llamarme o mandarme un mail.
        <br/><br/>
        Muchas gracias por confiar en nosotros!
        <br/><br/>
        Besos y abrazos,
      </div>
    </div>
  </div>
</section>
