<section ng-controller="NoviasController" ng-init="findOne()">
  <div class="page-header">
    <h1><span ng-bind="novia.name"></span> <span ng-bind="novia.surname"></span></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="novias.edit({noviaId: novia._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ui-sref="novias.mail({noviaId: novia._id})" ng-show="authentication.user && (authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1)">
      <i class="glyphicon glyphicon-inbox"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();" ng-show="authentication.user && authentication.user.roles.indexOf('admin')!=-1">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Teléfono</strong></div>
        <div class="col-md-6" ng-bind="novia.phone"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="novia.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Fecha de la boda</strong></div>
        <div class="col-md-6" ng-bind="novia.weddingDate | date:'dd/MM/yyyy'"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Hora de la boda</strong></div>
        <div class="col-md-6" ng-bind="novia.weddingHour"></div>
      </div>
      <div ng-show="authentication.user && (authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1)">
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Hora de la cita</strong></div>
          <div class="col-md-6" ng-bind="novia.weddingCitation"></div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Lugar de la boda</strong></div>
        <div class="col-md-6" ng-bind="novia.weddingPlace"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Comentarios de la boda</strong></div>
        <div class="col-md-6" ng-bind="novia.weddingComments"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>¿Cómo nos conoció?</strong></div>
        <div class="col-md-6" ng-bind="novia.howKnowUs"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Usuario de facebook</strong></div>
        <div class="col-md-6" ng-bind="novia.facebookUser"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Usuario de instagram</strong></div>
        <div class="col-md-6" ng-bind="novia.instagramUser"></div>
      </div>
      <div ng-show="authentication.user && (authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1)">
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Fecha de la prueba</strong></div>
          <div class="col-md-6" ng-bind="novia.testDate | date:'dd/MM/yyyy'"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Hora de la prueba</strong></div>
          <div class="col-md-6" ng-bind="novia.testHour"></div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Lugar de la prueba</strong></div>
        <div class="col-md-6" ng-bind="novia.testPlace"></div>
      </div>
      <div ng-show="authentication.user && (authentication.user.roles.indexOf('admin')!=-1 || authentication.user.roles.indexOf('user')!=-1)">
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Comentarios de la prueba</strong></div>
          <div class="col-md-6" ng-bind="novia.testComments"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Profesional</strong></div>
          <div class="col-md-6" ng-bind="novia.professionalText"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Tarifa</strong></div>
          <div class="col-md-6" ng-bind="novia.priceText"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Servicios</strong></div>
          <div class="col-md-6">
            <span ng-repeat="service in novia.services">
              {{service.quantity}} - {{service.data.name}} ({{service.professionalText}})<br/>
            </span>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Desplazamiento Boda</strong></div>
          <div class="col-md-6" ng-bind="novia.displacement"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Desplazamiento Prueba</strong></div>
          <div class="col-md-6" ng-bind="novia.testDisplacement"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Pagos</strong></div>
          <div class="col-md-6">
            Total: <span ng-bind="novia.total"></span><br/>
            Reserva: <span ng-bind="novia.reservation"></span><br/>
            Prueba: <span ng-bind="novia.testPrice"></span><br/>
            Boda: <span ng-bind="novia.weddingPrice"></span><br/>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Fotos</strong></div>
          <div class="col-md-6" ng-bind="novia.photos"></div>
        </div>
      </div>
    </div>
  </div>
</section>
